<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load staticfiles %} {% include 'material/includes/material_css.html' %}
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css" /> {% block css %}{% endblock %}
</head>

<body>
    <nav role="navigation">
        <div class="nav-wrapper">
            <div style="padding-left:3%;">
                <a id="logo-container" href="/" class="brand-logo">
                    Hochzeit Anja & Björn
                </a>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="grey-text text-lighten-4 right">
                Build on top of the <a href="https://github.com/VelinGeorgiev/django-photo-gallery">sample</a> from VelinGeorgiev by <a href="https://github.com/BjoernBiltzinger">Bjoern Biltzinger</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'app.js' %}"></script> {% block js %}{% endblock %}
</body>

</html>
